header {
         
           text-align: center;
            background: black;
            color: white;
           }


footer {
            
           text-align: center;
            background: black;
            color: white;
            }

 
div {text-align: center;
	float: center;
	height: 100%
	width: 100%;
	border: 5px black solid;}


body {background-color: #987185};>